body{
margin: 0%;
}
.line{
background-color: mediumpurple;
height: 600px;
display: grid;
grid-template-columns: 100px;
gap: 10px;
}

.line{
background-color: rgb(120, 93, 145);
border-radius: 10px;
color: aliceblue;
text-align: center;
}